@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation animation */
.navigate {
  position: relative;
}

.navigate::after {
  content: " ";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  height: 3px;
  width: 0;
  background: #777;
  transition: 0.3s;
}
.navigate:hover::after {
  width: 100%;
  left: 0;
}

.title-fixed {
  position: relative;
}

.title-fixed::after {
  content: " ";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
  transition: 0.3s;
}
/* end of navigation animation */

.name {
  font-family: "Barlow", sans-serif;
}
.titless {
  font-family: "Josefin Sans", sans-serif;
}

.page-height {
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
